.landing {
    display: flex;
    flex-direction: row-;
    background-color: lightgray;
    height: 250px;
    border-bottom-right-radius: 150px;
}

.landing-left {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin-left: 30px;
    justify-content: space-around;
    padding-top: 35px;
    padding-bottom: 30px;
    font-family: sans-serif;
}

.purple-text {
    color: #9252B6;
}

.sans-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: larger;
}

.purple-btn {
    display: flex;
    justify-content: center;
    padding: 8px 14px;
    background-color: purple;
    font-size: 10px;
    color: white;
    border-radius: 5px;
    font-family: sans-serif;
    width: 100px;
    cursor: pointer;
    margin-top: 15px;
}

.grey-txt {
    color:
        #4c4747;
}

.landing-right {
    display: flex;
    flex: 1.5;
    justify-content: start;
    align-items: center;
}

.doctor-illustration {
    margin-top: 80px;
    max-width: 200px;
    max-height: 200px;
}

.landing-heading {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: x-large;
}

.home-body {
    display: flex;
    flex-direction: column;

    gap: 10px;
}


/* stats-home.jsx */
     /*  */
     /*  */
.stats-box {
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    align-items: center;
    margin: 40px 20%;
    margin-bottom: -30px;
}

.card-box{
    display: flex;
    flex-direction:row ; 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    gap: 5px;
}

.data-number {
    font-weight: 600;
    font-family: sans-serif;
    font-size: x-large;
}

.card-category {
    font-weight: 600;
    font-family: sans-serif;
    font-size: x-small;
}


/* info-container */
      /*  */
      /*  */
.home-info-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px 20px;
}

.home-info-1 {
    display: flex;
    gap: 20px;
}
.home-info-2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}
.info-detail {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #877171;
}

.info-heading{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-points {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    margin-top: 15px;
    color: #877171;
}

.info-text-left{
    display: flex;
    flex-direction:column;
    margin-left: 40px; 
}

.info-text-right{
    display: flex;
    flex-direction:column;
    margin-right: 20px; 
}

/* small card section */

.small-card-container{
    display: flex;
  margin:20px 20px ;
 gap: 80px;
 margin: 50px 0px;
}

.small-card{
    margin: 10px;
    display: flex;
    gap: 10px;
    height: 60px;
}

.small-card-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-card-detail{
    font-size: 12px;
    font-family: sans-serif;
}
.small-card-heading{
    font-size:13px;
    font-weight:700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin-left:-4px; */
    margin-bottom:3px
}
.tick-row{
    display: flex;
    align-items: center;
    margin:5px 0px;
}